<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="../bootstrap/css/prettify.css">
        
        
    </head>
    <body>
   
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <header>
        HEADER 
        </header>
    <div class="row demo-tiles">
        <div class="span3">
          <div class="tile">
           <h3 class="tile-title">Thrills!</h3>
            <a class="btn btn-primary btn-large btn-block" href="/expensive/">See the most expensive alcohol in all of Ontario!</a>
          </div>
        </div>

        <div class="span3">
          <div class="tile">
            <!-- <img src="images/icons/Infinity-Loop@2x.png" alt="Infinity-Loop@2x" class="tile-image"> -->
            <h3 class="tile-title">Chills!</h3>
            <a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat">See the liquor stores with cold beer!</a>
          </div>
        </div>

        <div class="span3">
          <div class="tile">
            <h3 class="tile-title">The tiniest of the tiny!</h3>
            <a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat">See the smallest liquor stores in all the land!</a>
          </div>
        </div>

        <div class="span3">
          <div class="tile tile-hot">
            <!-- <img src="images/icons/Chat@2x.png" alt="Chat@2x" class="tile-image"> -->
            <h3 class="tile-title">Free for Share</h3>
            <p>Your likes, shares and comments helps us.</p>
            <a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat">Get Pro</a>
          </div>
        </div>
        </div>
    <div class="maincontent">
          <% products_array.each do |product|%>
        <ul class="products">
            <li class="productname"><%= product["name"] %></li>
            <li><%= product["price_in_cents"].to_i/100.00 %></li>
            <li class="cat1"><%= product["primary_category"] %></li>
            <li class="cat2"><%= product["secondary_category"] %></li>
            <li><%= product["origin"] %></li>
            <img src="<%= product["image_thumb_url"] %>">
        </ul>
        <% end %>
    </div>
    <div class="footer"></div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
 